.navbar-horizontal .navbar-brand img,
.navbar-collapse .collapse-brand img {
  height: 64px;
}

.navbar-vertical.navbar-expand-md .navbar-brand-img {
  max-height: 56px;
}

.navbar-nav .nav-link i {
  font-size: large;
}

.input-group .form-control:not(:last-child) {
  padding-right: .5rem !important;
}

.input-group .input-group-prepend+.form-control {
  padding-left: .5rem !important;
}

.alert {
  margin-bottom: 1rem;
  margin-top: 0;
}

.navbar-vertical .navbar-nav {
  margin-left: 0;
  margin-right: 0;
}

.navbar-vertical .navbar-nav .nav-link.active::before {
  display: none;
}

.navbar-nav .nav-link {
  margin-top: .2em;
  margin-bottom: .2em;
}

.navbar-vertical .nav-link.active {
  color: #fff !important;
  background: #2dce89;
}

@media (max-width: 767.98px) {
  /* .navbar-nav .nav-item .nav-link:not(.active) {
    border-bottom: 1px solid #ddd;
  } */

  .navbar-nav .nav-item .nav-link.active {
    color: #fff !important;
    background: #2dce89;
  }

  .navbar-nav .nav-item .nav-link {
    padding: .625rem;
  }
}

.datatables thead th {
  vertical-align: top;
}

.navbar:not(.navbar-nav-hover) .dropdown-menu.show {
  -webkit-animation: unset;
  animation: unset;
}
